<div class="navbarGrace">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-links">
                <li class="nav-item">
                    <a class="nav-link" href="#">Women</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Men</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kids</a>
                </li>
            </ul>
            <div class="logo m-auto">
                <img src="images/icons/logo.png" alt="Logo">
            </div>
            <ul class="navbar-nav ml-auto nav-actions">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sing up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="images/icons/icon.png" alt="Cart Icon">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>